sentence-transformers==4.1.0
mangum
alembic
fastapi
langchain
langchain-community
langchain-google-genai
langchain-huggingface
langchain-pinecone
langchain-redis
mangum
mistralai
psycopg2-binary
pydantic-settings
pymupdf==1.22.3
python-jose
python-multipart
sqlalchemy
