alembic
fastapi
langchain
langchain-community
langchain-google-genai
langchain-pinecone
langchain-redis
mistralai
psycopg2-binary
pydantic-settings
pymupdf==1.22.3
python-jose
python-multipart
sqlalchemy
pyreadline3
pillow
mangum
